body {
    text-align: center;
    background-color: #260401;
    margin: 50px;
}

main {
    background-color: #D9D4BF;
    padding: 20px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 15px;
}

img {
   width: 200px;
   height: 200px;
   border-radius: 100px;
}

h1 {
    font-size: 50px; 
    font-family: 'New Rocker', sans-serif; 
    color: #A61717; 
    text-align: center;
    animation: color-change 3s infinite;
}

@keyframes color-change {
    0% { color: #A61717 }
    50% { color: #D93232; }
    100% { color: #A61717; }
}

#login {
    background-color: #8C4F2B;
    padding: 20px;
    text-align: center;
    margin-left: 190px;
    margin-right: 190px;
    border-radius: 15px;
}

#login-box, #password-box {
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    background-color: #D9D4BF;
}

#login-button {
    margin: 2.5px;
    color: #A61717;
    border-radius: 8px;
    background-color: #D9D4BF;
    padding: 8px;
    cursor: pointer;
    width: 100px;
    transition: background-color 0.3s;
}

#login-button:hover {
    background-color: #A61717;
    color: #D9D4BF;
}

#login-button:active {
    background-color: #D93232;
    color: #8C4F2B;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    text-align: center;
    color: #1AD644;
}

a {
    color: #0F9233;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

#subtitle {
    text-decoration: underline dashed;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Impact', sans-serif;
    color: #8C4F2B;
}

#pudim {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}